.container{
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo {
  border-radius: 5%;
  border-style: inset;
}
.photo-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.text-content::first-line {
  font-weight: bold;
}

.body-class {
  background-color: #05445E;
}
.navbar-custom{
  background-color: #189AB4;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}
.navbar-dark .navbar-toggler{
  border-color: #05445E;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.card-body{
  background-color:#189AB4;
  border-color: #189AB4;
  color:white;
}
.text-custom{
  color: #D4F1F4;
}
.text-custom-contrast{
  color: white;
}
.text-content{
  color: #D4F1F4;
}
.form-container{
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  border-style: inset;
  border-radius: 10px;
  padding: 15px;
  background-color:#189AB4;
  color:white;
}
.icon{
  font-size:50px;
}
@media only screen and (max-width: 497px){
.photo{
  border-radius: 5%;
  width: 90%;
  height: 90%;
}
}
@media only screen and (min-width: 990px){
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  display: flex;
  margin: 10px;
  padding: 5px;
}
}
.nav-item {
  display: flex;
  margin: 5px;
  padding: 2.5px;
}