.container{
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p::first-line {
  font-weight: bold;
}

.body-class {
  background-color: #05445E;
}
.navbar-custom{
  background-color: #189AB4;
}
.navbar-dark .navbar-nav .nav-link{
  color: #D4F1F4;
}
.navbar-dark .navbar-toggler{
  border-color: #05445E;
}
@media only screen and (min-width: 990px){
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  display: flex;
  margin: 10px;
  padding: 5px;
}
}
.nav-item {
  display: flex;
  margin: 5px;
  padding: 2.5px;
}